{% include 'header.html' %}
<div class="row">
    <div class="column small-12">
        <h1>Add Track</h1>
        {% if row.track_name %}
        <p class="success label">Track {{row.track_name}} was added!</p>
        {% endif %}
        <form action="/tracks/add" method="post">
            <div class="row">

                <div class="column small-12 medium-2">
                    Track name:
                </div>
                <div class="column small-12 medium-10">
                    <input type="text" name="track_name" value="" />
                </div>
            </div>
            <div class="row">

                <div class="column small-12 medium-2">
                    Artist:
                </div>
                <div class="column small-12 medium-10">
                    <select class="artist form-control" style="width:500px" name="artist">
                    </select>
                </div>
            </div>

            <div class="row">

                <div class="column small-12 medium-2">
                    Embed:
                </div>
                <div class="column small-12 medium-10">
                    <input type="text" name="embed" value="" />
                </div>
            </div>
            <div class="row">
                <button class="button">Submit</button>
            </div>
        </form>
    </div>

</div>
{% include 'footer.html' %}

<script type="text/javascript">

    $('.artist').select2({
        placeholder: 'Select an artist',
        minimumInputLength: 2,
        theme: "foundation",
        width: '100%',
        ajax: {
            url: '/artists/json',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });

</script>