{% include 'header.html' %}
<div class="row">
    <div class="column small-12">
        <h1>Artist List</h1>
        <div class="overflow">
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        {% if user.is_authenticated %}
                        <td width="170">Actions</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for artist in artists %}
                    <tr>
                        <td><a href="/artists/view?name={{ artist.name }}">{{ artist.name }}</a></td>
                        {% if user.is_authenticated %}
                        <td>
                            <a href="/artists/edit?id={{ artist.id }}" class="button">Edit</a>
                            <a href="/artists/delete?id={{ artist.id }}" class="button alert">Remove</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if artists.has_other_pages %}
            <ul class="pagination" role="navigation" aria-label="Pagination">
                
                {% if artists.has_previous %}
                    <li>
                        <a href="?page={{ artists.previous_page_number }}">
                            Previous <span class="show-for-sr">page</span>
                        </a>
                    </li>
                {% endif %}
                
                {% for i in artists.paginator.page_range %}
                    {% if artists.number == i %}
                    <li class="current">{{ i }}</li>
                    {%else%}
                    <li class=""><a href="?page={{ i }}" aria-label="Page {{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if artists.has_next %}
                <li>
                    <a href="?page={{ artists.next_page_number }}" aria-label="Next page">
                        Next <span class="show-for-sr">page</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}