{% include 'header.html' %}
<div class="row">
    <div class="column small-12">
        <h1>Edit Track</h1>
        <form action="/artists/edit?id={{artist.id}}" method="post">
            <div class="row">
                
                <div class="column small-12 medium-2"> 
                    Name:
                </div>
                <div class="column small-12 medium-10">    
                    <input type="text" name="name" value="{{artist.name}}" />
                </div>
            </div>
            <div class="row">
                <div class="column small-12 medium-2"> 
                    Description:
                </div>
                <div class="column small-12 medium-10">   
                    <textarea id="description" name="description" >{{artist.description}}</textarea>
                </div>
            </div>
            <div class="row">
                <button class="button">Submit</button>
            </div>
                
        </form>
    </div>
    
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<script>
    var editor;
    var Adapter = function(loader){
       
        // Save Loader instance to update upload progress.
        this.loader = loader;
        var data = new FormData;
        data.append("file", loader.file );  
        this.upload = function(){
            var upload = fetch('/ckeditor/upload', {
                method: "POST",
                body: data
            }).then(function(response){
                console.log(response);
                return response.json();
            });
            return upload;
        }
        this.abort = function () {
            // Reject promise returned from upload() method.
            server.abortUpload();
        }
    };
    ClassicEditor
        .create( document.querySelector( '#description' ), {
            cloudServices: {
                uploadUrl : "/ckeditor/upload"
            },
            toolbar: [ 
                'headings',
                'bold', 
                'italic', 
                'link',
                'insertImage', 
                'bulletedList', 
                'numberedList', 
                'blockQuote'
            ],
            heading: {
                options: [
                    { modelElement: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { modelElement: 'heading1', viewElement: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { modelElement: 'heading2', viewElement: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                ]
            },
            image: {
                toolbar: [
                    'imageStyleFull',
                    'imageStyleSide',
                    'imageStyleAlignLeft',
                    'imageStyleAlignRight',
                    '|',
                    'imageTextAlternative'
                ]
            }
        } )
        .then( ed => {
            editor = ed;
            editor.plugins.get( 'FileRepository' ).createAdapter = function( loader ) {
                return new Adapter( loader );
            };
            console.log( ed );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
{% include 'footer.html' %}

