{% include 'header.html' %}
<div class="row">
    <div class="column small-12">
        <h1>Edit Track</h1>
        {% if row.track_name != "" %}
        <p class="success label">Track: {{ row.artist}} - {{ row.track_name }} was edit!</p>
        {% endif %}
        <form action="/tracks/edit?id={{row.id}}" method="post">
            <table width='100%'>
                <tr>
                    <td width='115'>Track name:</td>
                    <td><input type="text" name="track_name" value="{{ row.track_name }}"/></td>
                </tr>
                <tr>
                    <td>Artist:</td>
                    <td><input type="text" name="artist" value=" {{ row.artist }}" /></td>
                </tr>
            </table>
            <button class="button">Submit</button>
        </form>
    </div>
    
</div>
{% include 'footer.html' %}