{% include 'header.html' %}
<div class="row">
    <div class="column small-12">
        <h1>Track List</h1>
        <p>This is {{ my_string }}</p>

        <table>
            <tr>
                <td>Artist</td>
                <td>Track</td>
                <td>Genre</td>
                <td>Actions</td>
            </tr>
            {% for track in track_rows %}
            <tr>
                <td>{{ track.artist }}</td>
                <td>{{ track.track_name }}</td>
                <td>{{ track.genre_name }}</td>
                <td>
                    <a href="edit?id={{ track.id }}" class ="button">Edit</a>
                    <a href="delete?id={{ track.id }}" class ="button">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if track_rows.has_other_pages %}
            <ul class="pagination" role="navigation" aria-label="Pagination">
                
                {% if track_rows.has_previous %}
                    <li>
                        <a href="?page={{ track_rows.previous_page_number }}">
                            Previous <span class="show-for-sr">page</span>
                        </a>
                    </li>
                {% endif %}
                
                {% for i in track_rows.paginator.page_range %}
                    <li {% if track_rows.number == i %}class="current"{% endif %}><a href="?page={{ i }}" aria-label="Page {{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if track_rows.has_next %}
                <li>
                    <a href="?page={{ track_rows.next_page_number }}" aria-label="Next page">
                        Next <span class="show-for-sr">page</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}